/* sidebar */

.sidebarAdditionalInfoChoose {
  animation: toRight 0.5s forwards;
}
.sidebarAdditionalInfoChooseOff {
  animation: toLeft 0.5s forwards;
}
.transition-width {
  transition: width 0.3s ease-in-out;
}

.nones {
  display: none;
}
.shown {
  animation: fromNoneToShown 0.3s forwards;
}

@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0%);
  }
}
/* footers */
.footerAnimated-div {
  animation: slideInFooter 0.5s forwards;
}
@keyframes slideInFooter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fromNoneToShown {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}
@keyframes fromShownToNone {
  from {
    opacity: 0.2;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* main animations */

.movedLogo {
  animation: movedLogos 9s linear infinite;
}

.FromUpToDown {
  animation: fromUpToDown 0.3s forwards;
}
.FromDownToUp {
  animation: FromDownToUp 0.3s forwards;
}

@keyframes fromUpToDown {
  from {
    display: none;
    height: 0%;
  }
  to {
    display: flex;
    height: 100%;
  }
}
@keyframes FromDownToUp {
  from {
    display: flex;
    height: 100%;
  }
  to {
    display: none;
    height: 0%;
  }
}

@keyframes movedLogos {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
