/* sidebar */
.sidebarBaseInfoShown-div {
  animation: slideInSidebar 0.5s forwards;
}
.sidebarBaseInfoClose-div {
  animation: slideOutSidebar 0.5s forwards;
}
.sidebarAdditionalInfoChoose {
  animation: toRight 0.5s forwards;
}
.sidebarAdditionalInfoChooseOff {
  animation: toLeft 0.5s forwards;
}
.transition-width {
  transition: width 0.5s ease-in-out;
}

.nones {
  display: none;
}
@keyframes slideInSidebar {
  from {
    display: none;
    width: 0%;
  }
  to {
    display: flex;
    width: 16%;
  }
}
@keyframes slideOutSidebar {
  from {
    display: flex;
    width: 16%;
  }
  to {
    display: none;
    width: 0%;
  }
}

@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0%);
  }
}
/* footers */
.footerAnimated-div {
  animation: slideInFooter 0.5s forwards;
}
@keyframes slideInFooter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
