/* sidebar */

.sidebarBaseInfoShownUp1600pxRight-div-fixed {
  transition: width 0.5s ease-in-out;
  display: flex;
  width: 18%;
}
.sidebarBaseInfoShownUp1600pxRight-div {
  transition: width 0.5s ease-in-out;
  animation: slideInSidebarUp1600px 0.5s forwards;
}
.sidebarBaseInfoCloseDown1600pxRight-div-fixed {
  transition: width 0.5s ease-in-out;
  margin-left: 81px;
  display: flex;
  width: 300px;
}
.sidebarBaseInfoCloseDown1600pxRight-div {
  transition: width 0.5s ease-in-out;
  animation: slideInSidebarDown1600px 0.5s forwards;
}
.sidebarBaseInfoCloseUp1600pxLeft-div-fixed {
  transition: width 0.5s ease-in-out;
  display: none;
  width: 0%;
}
.sidebarBaseInfoCloseUp1600pxLeft-div {
  transition: width 0.5s ease-in-out;
  animation: slideOutSidebarUp1600px 0.5s forwards;
}
.sidebarBaseInfoCloseDown1600pxLeft-div-fixed {
  transition: width 0.5s ease-in-out;
  display: none;
  width: 0px;
}
.sidebarBaseInfoCloseDown1600pxLeft-div {
  transition: width 0.5s ease-in-out;
  animation: slideOutSidebarDown1600px 0.5s forwards;
}
.sidebarAdditionalInfoChoose {
  animation: toRight 0.5s forwards;
}
.sidebarAdditionalInfoChooseOff {
  animation: toLeft 0.5s forwards;
}
.transition-width {
  transition: width 0.5s ease-in-out;
}

.nones {
  animation: setToNone 0.2s forwards;
}
@keyframes slideInSidebarUp1600px {
  from {
    display: none;
    width: 0%;
  }
  to {
    display: flex;
    width: 18%;
  }
}
@keyframes slideInSidebarDown1600px {
  from {
    display: none;
    width: 0px;
  }
  to {
    margin-left: 81px;
    display: flex;
    width: 300px;
  }
}

@keyframes slideOutSidebarUp1600px {
  from {
    display: flex;
    width: 18%;
  }
  to {
    display: none;
    width: 0%;
  }
}

@keyframes slideOutSidebarDown1600px {
  from {
    display: flex;
    width: 350px;
  }
  to {
    display: none;
    width: 0px;
  }
}

@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0%);
  }
}
/* footers */
.footerAnimated-div {
  animation: slideInFooter 0.5s forwards;
}
@keyframes slideInFooter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes setToNone {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

/* main animations */

.movedLogo {
  animation: movedLogos 9s linear infinite;
}

.FromUpToDown {
  animation: fromUpToDown 0.3s forwards;
}
.FromDownToUp {
  animation: FromDownToUp 0.3s forwards;
}

@keyframes fromUpToDown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes FromDownToUp {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes movedLogos {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
