/* sidebar */
.sidebarBaseInfoShownUp1600pxRight-div {
  animation: slideInSidebarUp1600px 0.5s forwards;
}
.sidebarBaseInfoCloseDown1600pxRight-div {
  animation: slideInSidebarDown1600px 0.5s forwards;
}
.sidebarBaseInfoCloseUp1600pxLeft-div {
  animation: slideOutSidebarUp1600px 0.5s forwards;
}
.sidebarBaseInfoCloseDown1600pxLeft-div {
  animation: slideOutSidebarDown1600px 0.5s forwards;
}
.sidebarAdditionalInfoChoose {
  animation: toRight 0.5s forwards;
}
.sidebarAdditionalInfoChooseOff {
  animation: toLeft 0.5s forwards;
}
.transition-width {
  transition: width 0.5s ease-in-out;
}

.nones {
  display: none;
}
@keyframes slideInSidebarUp1600px {
  from {
    display: none;
    width: 0%;
  }
  to {
    display: flex;
    width: 18%;
  }
}
@keyframes slideInSidebarDown1600px {
  from {
    display: none;
    width: 0px;
  }
  to {
    margin-left: calc(81px);
    display: flex;
    width: 300px;
  }
}
@keyframes slideOutSidebarUp1600px {
  from {
    display: flex;
    width: 18%;
  }
  to {
    display: none;
    width: 0%;
  }
}
@keyframes slideOutSidebarDown1600px {
  from {
    display: flex;
    width: 350px;
  }
  to {
    display: none;
    width: 0px;
  }
}

@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0%);
  }
}
/* footers */
.footerAnimated-div {
  animation: slideInFooter 0.5s forwards;
}
@keyframes slideInFooter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
