.MainLogo {

}
.MainMovedLogo {
  margin-bottom: 40px;
  width: 170px;
  height: 170px;
  /* animation: movedLogo 9s linear infinite; */
}
.MainLogoDiv {

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.MainLogoDiv img {
  position: absolute;
}
/* @keyframes movedLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
