.MainLogo {
  width: 330px;
  height: 390px;
  opacity: 0.6;
}
.MainMovedLogo {
  margin-bottom: 49px;
  width: 120px;
  height: 120px;
  animation: movedLogo 9s linear infinite;
}
.MainLogoDiv {
  z-index: 1;
  width: 330px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.MainLogoDiv img {
  position: absolute;
}
@keyframes movedLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
